/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #7DB46CFF;
}

/* Style the topnav links */
.navbar a {
  float: left;
  display: block;
  color: #ABD6DFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ADEFD1FF;
  color: black;
}
/* Background box color of all pages */
.Box{
    border: 1px solid black;
    background-color: #E7EBE0FF;
}
/* Background color of all pages */
body {
  background-color:#ABD6DFFF;
}
/* Clear floats after the columns */
.Box::after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
.footer1 {
  background-color: #7DB46CFF;
  padding: 16px;
  text-align: center;
}
